.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem;
}

.image-gallery > li {
  height: 30vh;
  flex-grow: 1;
  list-style: none;
  position: relative;
}

@media screen and (max-width: 576px) {
  .image-gallery > li {
    height: 20vh;
  }
}

.image-gallery li:last-child {
  flex-grow: 10;
}

.image-gallery > li img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s 0s ease-in-out;
  color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.image-gallery li:hover .overlay {
  transform: scale(1);
}

.image-gallery .expanded-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000000ab;
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.image-gallery .expanded-overlay > img {
  max-width: 80%;
  max-height: 80%;
  border: 5px solid white;
  border-radius: 4px;
}

.image-gallery .nav-btn {
  position: fixed;
  height: 100vh;
  top: 0;
  z-index: 501;
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  width: 50px;
}

.image-gallery .nav-btn:hover {
  box-shadow: 4px 4px 10px #0000006b;
}

.image-gallery .nav-btn:disabled {
  color: gray;
}

.image-gallery .nav-btn.prev {
  left: 50px;
}

.image-gallery .nav-btn.next {
  right: 50px;
}
